{{!< layout/default}}

<div class="container">
  <div class="row">
    <h1>London weather.</h1>
  </div>

  <div class="row">
    <div class="col s12 m12 l12 text">
      <div class="row">
        <div class="col s2">
          <img class="icon" src="{{day0.icon_url}}" alt='weather icon'/>
        </div>
        <div class="col s10">
          <h5>Today</h5>
          <p>{{day0.fcttext_metric}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <img class="icon" src="{{day1.icon_url}}" alt='weather icon'/>
        </div>
        <div class="col s10">
          <h5>{{day1.title}}</h5>
          <p>{{day1.fcttext_metric}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <img class="icon" src="{{day2.icon_url}}" alt='weather icon'/>
        </div>
        <div class="col s10">
          <h5>{{day2.title}}</h5>
          <p>{{day2.fcttext_metric}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <img class="icon" src="{{day3.icon_url}}" alt='weather icon'/>
        </div>
        <div class="col s10">
          <h5>{{day3.title}}</h5>
          <p>{{day3.fcttext_metric}}</p>
        </div>
      </div>

    </div>
  </div>

</div>
