/*font-family: 'Roboto Slab', serif;
font-family: 'Bitter', serif;
font-family: 'Arvo', serif;*/
body {
  font-family: 'Arvo', serif;
}

.icon {
  
}

.weather-img {
  height: 70vh;
}

.gif {
  /*width: 20vw;*/
  object-fit: cover;
}

.text {
  /*border: 1px red solid;*/
}

h1 {
  /*color: blue;*/
}
